<div>
    <form role="form">
        <div class="form-group">
            <label for="word">查询</label>
            <input autofocus type="text" class="form-control" id="word" placeholder="word" required/>
        </div>
        <button type="submit" class="btn btn-default" id="translate">Translate</button>
    </form>
    <div id='translate-result'></div>
</div>

<script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/javascripts/md5.js"></script>
<script src="/javascripts/translate.js"></script>